@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');

.header {
    padding: 25px 0;
    text-align: center;
    background: rgb(0, 14, 90);
    color: white;
  }

  h1 {
      font-family: "Oxanium";
      font-size: 72px;
  }
